/* Spacers from bootstrap 4 https://github.com/twbs/bootstrap/issues/4286 */
.spacer5 {
	height: 5px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer10 {
	height: 10px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer15 {
	height: 15px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer20 {
	height: 20px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer25 {
	height: 25px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer30 {
	height: 30px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer35 {
	height: 35px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer40 {
	height: 40px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer45 {
	height: 45px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer50 {
	height: 50px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer100 {
	height: 100px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.spacer200 {
	height: 200px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

/* Straight corners for buttons https://gist.github.com/kn9ts/c129d869c72d980a4f7e */
.img-thumbnail,
.btn,
.btn-group .btn,
.btn-group .dropdown-menu,
.btn-group .btn,
.btn-group .btn:first-child:not(:last-child),
.btn-group .btn:last-child:not(:first-child),
.table-bordered,
.table-bordered tr:first-child th:first-child,
.table-bordered tr:first-child th:last-child,
.table-bordered tr:last-child td:first-child,
.table-bordered tr:last-child td:last-child,
.input-group .btn,
.input-group .dropdown-menu,
.input-group .form-control,
.input-group .input-group-addon,
.dropdown-menu,
.dropdown-menu .dropdown-submenu .dropdown-menu,
.form .form-control,
.form .btn,
.form-control,
.label,
.badge,
.alert,
.alert .btn,
.progress,
.breadcrumb,
.tooltip .tooltip-inner,
.popover,
.nav-list-panel,
.nav-tabs li > a,
.tabs-below .nav-tabs li > a,
.tabs-right .nav-tabs li > a,
.tabs-left .nav-tabs li > a,
.nav-tabs .dropdown-menu,
.tabs-below .nav-tabs .dropdown-menu,
.nav-pills li a,
.nav-pills .dropdown-menu,
.navbar,
.navbar .dropdown-menu,
.pagination,
.pagination li:first-child a,
.pagination li:first-child span,
.pagination li:last-child a, 
.pagination li:last-child span,
.pager li a,
.pager li a:hover,
.pager li a:focus,
.panel,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-body,
.breadcrumb-arrow li:first-child a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}