﻿<div class="container" data-ng-controller="genericListController as vm">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{vm.title}}</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="spacer20"></div>
                        <div ag-grid="vm.gridOptions" class="ag-fresh" style="height: 100%;"></div>
                        <div class="spacer10"></div>
                        <button type="button" class="btn btn-primary pull-right" ng-click="vm.addNew()">Add</button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>


