﻿<div class="container">
    <div class="row" ng-if="vm.show">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{vm.title}}</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="vm.form" novalidate>
                            <button type="button" class="btn btn-default pull-right" ng-click="vm.delete()">Delete</button>
                            <formly-form form="vm.form" model="vm.formlyModel" fields="vm.formlyFields">
                            </formly-form>
                        </form>
                    </div>

                    <div class="col-md-12" data-ng-repeat="collection in vm.collections">
                        <h3>{{collection.collectionName}}</h3>
                        <div ag-grid="collection.gridOptions" class="ag-fresh" style="height: 100%;"></div>
                        <div class="spacer10"></div>
                        <button type="button" class="btn btn-primary pull-right" ng-click="collection.addEntityClicked()">Add {{collection.oneEntityName}}</button>
                        <div class="spacer20"></div>
                    </div>

                    <div class="col-md-12">
                        <div class="spacer20"></div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid" ng-click="vm.submit()">Submit</button>
                            <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





