﻿<div data-ng-controller="shell as vm">
    <header class="clearfix">
        <div data-ng-include="'/app/layout/topnav.html'"></div>
    </header>
    <section id="content" class="content">
        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
            <div data-cc-spinner="vm.spinnerOptions"></div>
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
        </div>

        <div data-ng-include="'/app/layout/sidebar.html'"></div>

        <section class="mainbar">
            <section class="matter">
                <div data-ui-view class="shuffle-animation"></div>
            </section>
        </section>
        
    </section>
</div>
