﻿<div data-cc-sidebar data-ng-controller="sidebar as vm">
    <div class="sidebar-filler"></div>
    <div class="sidebar-dropdown"><a href="#">Menu</a></div>
    <div class="sidebar-inner">
        <div class="sidebar-widget">
        </div>
        <ul class="navi">
            <li class="nlightblue fade-selection-animation"
                ui-sref-active="current"
                data-ng-repeat="state in vm.navRoutes">
                <a ui-sref="{{state.name}}"  data-ng-bind-html="state.settings.content"></a>
            </li>
        </ul>
    </div>
</div>
