﻿<div class="container" data-ng-controller="dashboard as vm">
    <!--<div class="row">
        <div class="col-md-12">
            <ul class="today-datas">
                <li class="blightblue">
                    <div class="pull-left"><i class="fa fa-plane"></i></div>
                    <div class="datas-text pull-right">
                        <span class="bold">May 18 - 19, 2015</span> Castle Resort, Neverland
                    </div>
                    <div class="clearfix"></div>
                </li>

                <li class="borange">
                    <div class="pull-left"><i class="fa fa-envelope"></i></div>
                    <div class="datas-text pull-right">
                        <span class="bold">{{vm.messageCount}}</span> Messages
                    </div>
                    <div class="clearfix"></div>
                </li>

            </ul>
        </div>
    </div>-->
    <div class="row">
        <div class="col-md-12">
            <div class="spacer100"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="widget wgreen">
                <div data-cc-widget-header title="Turnover"
                     allow-collapse="false"></div>
                <div class="widget-content text-center text-info">
                    <h3>This application generates at runtime single page admin panel and corresponding api controllers from database schema.</h3>
                    <h3>You can change the underlying schema (even rename the entities), restart the application and it will allow you to work with modified schema</h3>
                    <h3>On the left you can see the list of root entities in current schema. Click on Contact for startes</h3>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-6">
            <div class="widget wviolet">
                <div data-cc-widget-header title="People"
                     allow-collapse="true"></div>
                <div class="widget-content text-center text-info">
                    <table class="table table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Location</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="p in vm.people">
                            <td>{{p.firstName}}</td>
                            <td>{{p.lastName}}</td>
                            <td>{{p.age}}</td>
                            <td>{{p.location}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget wgreen">
                <div data-cc-widget-header title="{{vm.news.title}}"
                     allow-collapse="true"></div>
                <div class="widget-content text-center text-info">
                    <small>{{vm.news.description}}</small>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>-->
</div>
